
h2
    color: #d1904b
    font-size: 3rem

.bg-fluid
    min-height: 20rem
    // background-image: linear-gradient(#000000 80%, #d17819)
    background-color: #000000
// #acf0ed


.mapdiv
    padding-top: 10%
    font-family: Geneva, Verdana, sans-serifw
    color: #767474d4
    // transition: opacity 1.5s ease-in-out

// #mapdiv.fadeIn
//     opacity: 1
.bio-description
    font-size:2rem

.bio-image
    background-image: url("180bg.png")
    height: 35rem
    width: 30rem