<div class="container-fluid bg-fluid">
    <!-- [class.fadeIn]="fadeInNext" -->
    <div class="container mapdiv">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="bio-image"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div>
            <h2>Chi sono</h2>
            <p class="bio-description"><i>Breve descrizione personale e riguardo a cosa serve questo portfolio.
                Il tutto su circa tre o quattro righe al massimo, centrato e con un font più smart</i></p>
            <!-- <div id="first" [class.fadeIn]="fadeInStory" [class.fadeOut]="fadeOutStory">CiaoCiao</div>
                <p (mouseenter)="onMouseEnter()" (mouseleave)="onMouseOut()" class="first">La mia storia</p>-->
          </div>
        </div>
      </div>
    </div>
</div>