h2
    color: #d1904b
    font-size: 3rem

.photo-fluid
    // background-image: url('https://i.gifer.com/4CND.gif')
    // background-image: linear-gradient(#d1904b, #2e2b28)
    background-image: url("bg.png")
    padding-top: 8%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    min-height: 65rem

.col
    margin: auto

.downarr-img
    height: 32px
    width: 32px

.dot
    color: #d1904b

#animatedText
    font-size: 6rem
    font-family: Geneva, Verdana, sans-serif
    opacity: 1
    // transition: opacity 0.5s ease-in-out

// #animatedText.fadeOut
//     opacity: 0

#firstFade
    padding-left: 1%
    font-size: 2rem
    font-family: Geneva, Verdana, sans-serif
    opacity: 1
    // transition: opacity 1.5s ease-in-out

.anchor
    color: #d1904b !important

// #firstFade.fadeIn
//     opacity: 1

// #firstFade.fadeOut
//     opacity: 0
//     transition: opacity 1.5s ease-in-out