<div class="container-fluid photo-fluid">
  <div class="maindiv container">
    <div class="row">
      <div class="col-12">
        <h1 id="hello">{{ lang=='it' ? 'Ciao' : 'Hello' }}<span class="accent">!</span></h1>
        <p id="subgreeting">{{ lang=='it' ? 'Io sono Roberto' : 'I am Roberto'}},<br>
          {{ lang=='it' ? 
          'un giovane appassionato di trovate tecnologiche.' :
          'a young enthusiast of technological innovations,'
          }}
          <br>
          {{lang=='it' ? 'Sono dottore in ingegneria elettronica, mi piace giocare a biliardo e da qualche anno lavoro come' :
          'holding a BSc in Electronic Engineering. I enjoy playing billiards and I have been working as a'
          }} 
          <span class="accent">{{lang == 'it'? 'ingegnere full stack' : 'full-stack engineer' }}</span>
          <span>{{ lang=='en' ? ' for the past few years.' : '.' }}</span>
          <br>
        </p>
      </div>
    </div>
  </div>
</div>

<app-exp></app-exp>
<app-projects></app-projects>
<app-skills></app-skills>