<div class="container-fluid photo-fluid">
  <div class="maindiv container">
    <div class="row">
      <div class="imagecol col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 id="animatedText">Ciao<span class="dot">!</span></h1>
        <p id="firstFade">Io sono Roberto,<br>un (non solo) sviluppatore Web Full Stack con qualche idea fuori dal comune.<br>
          Scorri per <a class="anchor" href="#anchor-bio"> conoscermi meglio</a>
          <!-- <span><iframe src="https://giphy.com/embed/PydTF0pQ11Sawhd3uE" width="32px" height="32px" frameBorder="0"
              class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/stickers/bw-lnd-thelnd-PydTF0pQ11Sawhd3uE"></a></p>
          </span> -->
        </p>
        <!-- <img class="hello-img" src="../../assets/hello.svg" alt="image"> -->
      </div>
      <div class="textcol col-12 col-sm-12 col-md-6 col-lg-6">
        <!-- <p id="animatedText">Ciao<span class="dot">.</span></p> -->
      </div>
    </div>
  </div>
</div>

<app-bio id="anchor-bio"></app-bio>  <!-- id="anchor-bio" -->
<app-evo></app-evo>
<app-whyme></app-whyme>
<app-skills></app-skills>