<div class="container-fluid">
  <div class="row w-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-title">
        <h1><strong>Skills</strong></h1>
    </div>
</div>
  <div class="row">
    <div class="col-12 col-xxl-8 imagecol">
      <img class="image" src="../../../assets/skills.png" > 
    </div>  
      <div class="col-12 col-xxl-4 textcol">
        <p>
          {{lang=='it' ? 'Il percorso ingegneristico mi ha lasciato un animo da tuttologo che ha alimentato la ricerca verso diverse discipline tecniche e non.
          Assorbo informazioni come una spugna e tendo a spesso sperimentare nuovi modi di creare, sia a livello tecnologico, che umano.'
          :
          'The engineering path has left me with a polymathic spirit that fueled my exploration across various technical and non-technical fields.
           I absorb information like a sponge and often strive to experiment with new ways of creating, both in terms of technology and humanity.'}}
        </p>
        <p>
          {{ lang=='it' ? 'A parte le noiose skill tecniche di cui tutti hanno bisogno ma che nessuno vuole leggere; ho un animo trascinatore e sono molto ambizioso.
          Adoro portare le persone verso un\'obiettivo comune con un piano ben preciso, e farlo con umanità ed empatia, in uno clima leggero e amichevole.
          Psicologia e comunicazione mi affascinano da quando sono entrato nel mondo del lavoro.
          Un\'altra grande fetta delle mie competenze sta nelle abilità analitiche, di pensiero critico, osservazione e problem solving. 
          In questo il gaming, che mi accompagna fin da piccolo, ha avuto un ruolo fondamentale' 
          : 
          'Aside from the boring technical skills that everyone needs but no one wants to read about, I have a compelling spirit and am highly ambitious.
          I thrive on uniting people towards a common goal with a well-defined plan, doing so with humanity and empathy, in an open and friendly space.
          Psychology and communication have intrigued me since I entered the workforce. Another significant portion of my abilities lies in analytical, observational, and problem-solving skills.
          In this realm, gaming, which has been a part of my life since childhood, has played a crucial role' }}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
        </svg>
        </p>
      </div>

  </div>

    <!-- <div class="container">
        <h2 id="anchor-skill">Testo qui</h2>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="description">
                <div class="container">
                  <p class="title-description">
                      Linguaggi
                  </p>
                    <span class="text-description">Java EE, Phyton, C, C++, Arduino, Kotlin, Flutter, HTML, CSS, SCSS, SASS, Javascript, Typescript, SQL, Solidity </span>
                  
                    <p class="title-description">
                      Server, DB e strumenti
                  </p>
                    <span class="text-description">RedHat Jboss e Wildfly, Nodejs, Undertow</span><br>
                    <span class="text-description">Oracle Thin Driver, Mongo DB</span><br>
                    <span class="text-description">Git, Maven, Gradle, Junit, Postman, Ganache</span><br><br>

              </div>
          </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button id="storyAcc" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    FRONTEND
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                          <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg"><img width="64" alt="Angular full color logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png"></a>
                            <span> Angular</span>
                              <span class="mainSkill"><strong>Principale</strong></span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <p>Lavoro da 5 anni con angular sia con attività di manutenzione/evolutiva in RGI, sia per progetti personali (che palle)
                                E' il linguaggio front-end con cui sono più confidente.
                                Framework di riferimento: Bootstrap
                              </p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://commons.wikimedia.org/wiki/File:React-icon.svg"><img width="64" alt="React-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png"></a>
                            <span> React</span>
                            <a title="Django, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Django_logo.svg"><img width="256" alt="Django logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/256px-Django_logo.svg.png"></a>
                            <span> Django</span>
                              <span class="mainSkill">Principale</span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                            <p>Utilizzato recentemente con il progetto Blockchain WCAPES. 
                              Framework di riferimento: MUI
                            </p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    BACKEND
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://it.wikipedia.org/wiki/File:Java_Logo.svg#/media/File:Java_Logo.svg"><img src="https://upload.wikimedia.org/wikipedia/it/2/2e/Java_Logo.svg" alt="Java Logo.svg" height="64" width="64"></a>
                            <span> Java</span>
                            <span class="mainSkill"><strong>Principale</strong></span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <strong>description</strong>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    BLOCKCHAIN
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                          <div class="col-12 col-lg-6 col-md-6 icons">
                            <svg class="solidity-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>file_type_solidity</title><path d="M20.477,2l-4.5,8h-9l4.5-8h9" style="fill:#c1c1c1;opacity:0.45;isolation:isolate"/><path d="M11.52,30l4.5-8h9l-4.5,8h-9" style="fill:#c1c1c1;opacity:0.45;isolation:isolate"/><path d="M15.975,10h9l-4.5-8h-9Z" style="fill:#c1c1c1;opacity:0.6;isolation:isolate"/><path d="M16.022,22h-9l4.5,8h9Z" style="fill:#c1c1c1;opacity:0.6;isolation:isolate"/><path d="M11.477,18l4.5-8-4.5-8-4.5,8Z" style="fill:#c1c1c1;opacity:0.8;isolation:isolate"/><path d="M20.52,14l-4.5,8,4.5,8,4.5-8Z" style="fill:#c1c1c1;opacity:0.8;isolation:isolate"/></svg>
                            <span> Solidity</span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <strong>description</strong>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> -->
</div>