<div class="container-fluid">
    <div class="container">
        <h2 id="anchor-skill">Alcuni modi in cui posso contribuire alla tua iniziativa</h2>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="description">
                <div class="container">
                  <p class="title-description">
                      Linguaggi
                  </p>
                    <span class="text-description">Java EE, Phyton, C, C++, Arduino, Kotlin, Flutter, HTML, CSS, SCSS, SASS, Javascript, Typescript, SQL, Solidity </span>
                  
                    <p class="title-description">
                      Server, DB e strumenti
                  </p>
                    <span class="text-description">RedHat Jboss e Wildfly, Nodejs, Undertow</span><br>
                    <span class="text-description">Oracle Thin Driver, Mongo DB</span><br>
                    <span class="text-description">Git, Maven, Gradle, Junit, Postman, Ganache</span><br><br>

              </div>
          </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button id="storyAcc" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    FRONTEND
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                          <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg"><img width="64" alt="Angular full color logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png"></a>
                            <span> Angular</span>
                              <span class="mainSkill"><strong>Principale</strong></span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <p>Lavoro da 5 anni con angular sia con attività di manutenzione/evolutiva in RGI, sia per progetti personali (che palle)
                                E' il linguaggio front-end con cui sono più confidente.
                                Framework di riferimento: Bootstrap
                              </p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://commons.wikimedia.org/wiki/File:React-icon.svg"><img width="64" alt="React-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png"></a>
                            <span> React</span>
                            <!-- <a title="Django, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Django_logo.svg"><img width="256" alt="Django logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/256px-Django_logo.svg.png"></a>
                            <span> Django</span>
                              <span class="mainSkill">Principale</span> -->
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                            <p>Utilizzato recentemente con il progetto Blockchain WCAPES. 
                              Framework di riferimento: MUI
                            </p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    BACKEND
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 icons">
                            <a href="https://it.wikipedia.org/wiki/File:Java_Logo.svg#/media/File:Java_Logo.svg"><img src="https://upload.wikimedia.org/wikipedia/it/2/2e/Java_Logo.svg" alt="Java Logo.svg" height="64" width="64"></a>
                            <span> Java</span>
                            <span class="mainSkill"><strong>Principale</strong></span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <strong>description</strong>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    BLOCKCHAIN
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="row">
                          <div class="col-12 col-lg-6 col-md-6 icons">
                            <svg class="solidity-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>file_type_solidity</title><path d="M20.477,2l-4.5,8h-9l4.5-8h9" style="fill:#c1c1c1;opacity:0.45;isolation:isolate"/><path d="M11.52,30l4.5-8h9l-4.5,8h-9" style="fill:#c1c1c1;opacity:0.45;isolation:isolate"/><path d="M15.975,10h9l-4.5-8h-9Z" style="fill:#c1c1c1;opacity:0.6;isolation:isolate"/><path d="M16.022,22h-9l4.5,8h9Z" style="fill:#c1c1c1;opacity:0.6;isolation:isolate"/><path d="M11.477,18l4.5-8-4.5-8-4.5,8Z" style="fill:#c1c1c1;opacity:0.8;isolation:isolate"/><path d="M20.52,14l-4.5,8,4.5,8,4.5-8Z" style="fill:#c1c1c1;opacity:0.8;isolation:isolate"/></svg>
                            <span> Solidity</span>
                          </div>
                          <div class="col-12 col-lg-6 col-md-6 descriptions">
                              <strong>description</strong>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>