<h2> Prima Dapp </h2>
<p> Se hai letto la mia filosofia saprai che un filone della mia carriera sta inseguendo l'IoT.</p>
<p> Beh ecco, cercando l'IoT nell'informatica, ho trovato gli Oracles al servizio della Blockchain. 
    Peccato che all'epoca della prima ricerca della Blockchain, conoscessi soltanto il nome. 
    Dopo un periodo di studio dell'ecosistema Ethereum e del linguaggio Solidity ho voluto testare gli strumenti appresi.

    Ho creato dunque un applicativo Angular, che integra la libreria Web3 per collegarsi a Smart Contract realizzati ad hoc.
    Compilazione e deploy dei contratti sono gestiti con Truffle e Ganache come 'Pannello di controllo'.
</p>
<p> 
    Il front-end è piuttosto basico ma fa tutto quello che serve<br>

    IMMAGINE HOME
</p>
