<div class="container-fluid">
    <div class="container">
        <div class="title">
            <h2>FILOSOFIA DI LAVORO</h2>
        </div>
        <div class="container">
            <p >
                Il lavoro per me, è l'unione di più braccia e più teste volte alla trasformazione di un'idea in realtà.
                Il lavoro è uno strumento tramite il quale esprimere il proprio io in qualcosa che torni utile al prossimo. 
                Il mio ruolo in esso vuole essere quello di dare un contributo (meglio se significativo ;)  al progresso della tecnologia.
                In me troverete un collaboratore amichevole ed entusiasta, con pensiero critico e visione a lungo termine.
            
                Tra le caratteristiche di un'azienda hanno maggiore importanza: visione, feedback, formazione ed empatia.
            </p>
        </div>
        
        <div class="container">
            <div class="title">
                <h2>MISSION</h2>
            </div>        
    
            <p>
                DATI INIZIALI (con qualche dato a sostegno sarebbe meglio)
                - La tecnologia ha il potere di semplificare enormemente le nostre vite
                - Infatti molti ambiti di forte utilità negli ultimi anni hanno fatto passi da gigante (vedi Medicina, Informatica, Automotive)
                - Nonostante ciò la maggior parte dei prodotti tecnologici presenti sul mercato sono piccole comodità o confort momentanei
                - Lo smartphone, strumento potentissimo, praticamente un PC nel palmo della mano, 
                    è uno strumento che viene utilizzato (soprattutto dai giovanissimi), principalmente per i social.
    
                ASPETTO NEGATIVO
                - Da un punto di vista, invece che aiutarci ci ha costretto al suo utilizzo, spesso inutilmente compulsivo fatto di scariche di dopamina.
            </p>
            <span>
                <!-- - o addirittura a creare carriere basate sull'utilizzo di un'algoritmo di terzi (vedi YouTube, IG, FB ecc..) 
                affinchè questo prosegua all'infinito senza un obbiettivo definito
                Questo inevitabilmente porta la vita lavorativa di molti creatori digitali a dipendere da un capo invisibile. -->
            
                FILOSOFIA PERSONALE
                - Sostengo che abbiamo perso la visione generale, la direzione corretta da far prendere alla tecnologia.
                Produciamo molti più beni di consumo volti a farci accomodare, perchè pensiamo di essere noi a dover interagire con la tecnologia
                ogni volta che ci sentiamo in un determinato stato d'animo, evitando la condivisione e alimentando stati di solitudine e depressione.
                E spesso allo scopo di distrarci.
                - E' necessaria un'educazione alla tecnologia
            
                Man nel mio immaginario, il paradigma si inverte: la tecnologia dovrebbe fornirci un silente ed efficace aiuto. Una branca della tecnologia con
                cui questo pensiero è affine è l'IoT con la creazione dei suoi 'oggetti magici', interconnessi sia al mondo reale tramite sensori fisici
                (pensa quante applicazioni avrebbero sensori di temperatura negli ambienti chiusi e quelli di prossimità in ambiente urbano) sia alle informazioni reperibili su internet.
            
                In combinazione con altre tecnologie nascenti quali Blockchain e Intelligenza artificiale, 
                questi 'oggetti magici' potrebbero fornire prodotti di uso quotidiano con un impatto straordinario nelle vite di ciascuno di noi e dell'ambiente in cui viviamo
                
                <!-- 
                Ad esempio: E' lunedì mattina, sei di fretta quindi prepari un caffè al volo ed essendo una giornata particolarmente fortunata, dopo averle cercate per un po'
                non trovi le chiavi di casa quindi decidi che uscirai senza sperando che tua moglie rientri prima di te quella sera.
                Quindi prendi la tua valigetta, le chiavi della macchina ed esci di casa. Boom, piove, nel tragitto casa-macchina e macchina-ufficio sei zuppo e non hai tempo per rientrare a casa a cambiarti.
                Il tuo capo pensa che non sia un ottimo inizio di giornata, e neanche tu.
            
                Come la tecnologia può aiutare: E' lunedi mattina, sei di fretta ma la tua macchinetta smart  -->
            </span>
        </div>
    </div>    
</div>
