$primary-color: #148ced
$text-color: #9d22bfd4
$bg-color: #ea8c27

.container-fluid
    padding-top: 2%
    padding-bottom: 2%
    color: #ffffff
    background-image: linear-gradient($primary-color, #000000)

.title
    padding-left: 1rem
    // padding-right: 2rem
    margin: auto
    color: #000000
    border: 0.2rem solid #000000
    border-radius: 1rem

p
    padding-left: 2rem
    margin-top: 1rem