<h2> IR Switch </h2>
<p>
    Come ti dicevo prima il core dell'IR Switch sono due sensori ad infrarossi che si 'guardano'. 
    Quando interrompi il loro sguardo, avviene l'interazione che ci attendiamo da un interruttore: l'accensione o lo spegnimento di un dispositivo. 
    Per questo esperimento abbiamo creato una luce 'notturna' dal colore personalizzabile, applicata ad una scrivania da camera.
    Il circuito è stato prima testato su breadboard e poi realizzato su millefori con l'aiuto di Multisim e Eagle per la realizzazione dello schema elettrico
    e del layout PCB per il posizionamento dei componenti.

    Essendo ancora nel mondo universitario ho prodotto una documentazione a metà tra il tecnico e il commerciale,
    quindi immagino possa essere di semplice comprensione (il contenuto è disponibile in lingua inglese).


</p>
<span><a class="accent" target="_blank" href="https://drive.google.com/file/d/1de6FRKEmYoyUbrvkTUNWyhZmf-FlrecH/view?usp=sharing"> Clicca qui</a> per vedere la documentazione</span>

<p>
    Per i geek, veri geek:
    Una parte della lista della spesa per la realizzazione del progetto include:
</p>
<ul>
    <li><span>Sensore TX: SFH409 | Datasheet <a class="accent" href="https://drive.google.com/file/d/0B4Do_-CjlHHDZ2xDaUhfRjFyYjg/view?usp=sharing&resourcekey=0-ihJJCqlCKNlopGXWEAs7GA" target="_blank"> QUI</a> ( sfortunatamente disponibile sono in tedesco )</span></li>
    <li><span>Flip Flop: LS74LS74A | Datasheet <a class="accent" href="https://drive.google.com/file/d/0B4Do_-CjlHHDVW90c0loNjBZQ2c/view?usp=sharing&resourcekey=0-D32coQObADRIrhVBsFXofQ" target="_blank"> QUI</a></span></li>
    <li><span>Transistor MOS: IRFD120 | Datasheet <a class="accent" href="https://drive.google.com/file/d/0B_DL_9JwHZtKSEtmdXR6dndERnM/view?usp=sharing&resourcekey=0-JJesunKqn7-6psE2HuEBbg" target="_blank"> QUI</a></span></li>
</ul>
<span> Se ti interessa lo schema elettrico, <a class="accent" href="/meetus"> contattami</a> che ne parliamo! </span>