  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <a class="btn btn-outline menu" type="button" href="" (click)="makeActive('home')"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-brightness-alt-low-fill" viewBox="0 0 16 16">
        <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5 6a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 11a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0zm10.243-3.536a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-8.486-.707a.5.5 0 1 0 .707.707.5.5 0 0 0-.707-.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
      </svg>
    </a>
    <a class="navbar-brand" href="" (click)="makeActive('home')">{{ lang=='it' ? 'Il mio portfolio' : 'My portfolio'}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="this.activePage == 'projects' ? 'active': '' " aria-current="page" [routerLink]="['projects/0']" (click)="makeActive('projects')">{{ lang=='it' ? 'Progetti' : 'Projects' }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="activePage == 'about-me' ? 'active':''" [routerLink]="['/about-me']" (click)="makeActive('about-me')">{{ lang=='it' ? 'Su di me' : 'About me' }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="activePage == 'meetus' ? 'active':''" [routerLink]="['/meetus']" (click)="makeActive('meetus')">{{ lang=='it' ? 'Conosciamoci' : 'Let\'s meet' }}</a>
        </li>
      </ul>
      <hr class="accent">
        <div class="d-inline-flex form-switch">
          <div class="pre-form-check-label">ITA</div>
          <div class="custom-switch">
            <input class="form-check-input" [checked]="lang == 'en'" type="checkbox" id="check-language" (click)="changeLanguage()" value="{{ lang }}">
          </div>
          <div class="post-form-check-label">&nbsp;ENG</div>
        </div>
      <hr class="accent">
    </div>
</nav>

