$accent-color: #ea8c27
$bg-color: #2e2b28
    
.navbar
    background-color: $bg-color
    // background-image: linear-gradient(#d1904b, #3e3b38)

.menu
    color: $accent-color

.navbar-brand
    color: white
    padding-bottom: 0rem

.form-switch
    color: white

.pre-form-check-label
    margin-right: 100%

.nav-link
    padding-bottom: 0rem

.form-switch, .navbar-toggler
    margin-right: 10%

.menu
    margin-left: 5%

// .navbar
//     padding: 0rem