<div class="container-fluid">
    <div class="row w-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-title">
            <h1><strong>{{ lang=='it' ? 'Progetti' : 'Projects' }}</strong></h1>
            <p class="subtitle d-block d-lg-none d-xl-none"><i>
                {{ lang=='it' ? 'clicca sulle seguenti immagini  per vedere i dettagli'
                : 
                'click on following images to check details' }}
                </i>
            </p>
        </div>
    </div>
    <div class="row row-projects">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <h2 class="card-title"><strong>IR Switch</strong></h2>
            <h6 class="card-subtitle mb-4">{{ lang=='it' ? 'Elettronica': 'Elettronics' }}</h6>
            <div class="card" data-bs-theme="dark" id="desc0">
                <div class="el2 w-100"></div>
                <div class="card-img-overlay">
                    <div class="el el2t">
                        <p class="card-text">
                            {{ lang=='it' ? 'Durante il periodo universitario, mi sono divertito nella realizzazione di qualche strumento elettronico che esisteva solo nella mia testa; tra tutti, l\'IR Switch. ' 
                            : 
                            'During my university years, I had fun bringing to life some electronic devices that existed only in my mind; among them, the IR Switch.' }} </p>
                        <p class="card-text">
                            {{ lang=='it' ? 
                                'Si tratta di un modo creativo di vedere gli interruttori: in particolare l\'interazione
                                con un IR Switch non avviene tramite il contatto fisico (troppo facile) ma interrompendo un raggio ad infrarossi.' 
                                : 
                                'It\'s a creative approach to switches: specifically, interaction with an IR Switch doesn\'t happen through physical contact (too easy), but by interrupting an infrared beam.' 
                            }}
                        </p>
                        <a href="projects/0" class="card-link">{{ lang=='it' ? 'Ci vediamo di là, geek!' : 'See you on the geek side!'}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <h2 class="card-title"><strong>{{ lang=='it' ? 'Prima DApp': 'First Dapp' }}</strong></h2>
            <h6 class="card-subtitle mb-4">{{ lang=='it' ? 'Sviluppo SW' : 'SW development'}} - Blockchain</h6>
            <div class="card" data-bs-theme="dark" id="desc0">
                <div class="el4 w-100"></div>
                <div class="card-img-overlay">
                    <div class="el el2t">
                        <p class="card-text">
                            {{ lang=='it' ? 'Dopo aver dedicato qualche anno all\'IT e aver sviluppato le competenze da sviluppatore full stack,
                            ho maturato interesse verso la tecnologia Blockchain, studiando a fondo l\'ecosistema Ethereum e le tecnologie che lo popolano.'
                            :
                            'After devoting several years to electronics and honing full-stack development skills, I\'ve cultivated a keen interest in Blockchain technology.
                            I delved deep into the Ethereum ecosystem, comprehensively studying its components and technologies.' }}
                        <p class="card-text"> 
                            {{ lang=='it' ? 
                            'Questo progetto è un prototipo di Dapp con interazioni verso portafogli Metamask creato al
                            fine di studiare i protocolli ERC20 e ERC721.' :
                            'This project is a Dapp prototype with interactions towards MetaMask wallets, 
                            created for the purpose of studying the ERC20 and ERC721 protocols.'}}
                            <br>
                            {{ lang=='it' ?
                            'All\'interno, insieme agli smart contract, troverete l\'intera infrastruttura per interagire con essi attraverso la libreria Web3, supportata da un\'applicazione creata in Angular.' 
                            :
                            'Inside, along with the smart contracts, you will find the entire infrastructure for their utilization through the Web3 library, backed by an application created in Angular.' }}
                        </p>
                        <a href="projects/1" class="card-link">{{ lang=='it' ? 'Clicca qui per capirci di più' : 'Click here to learn more' }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <h2 class="card-title"><strong>{{ lang=='it' ? 'Casi studio': 'Study cases' }}</strong></h2>
            <h6 class="card-subtitle mb-4">Blockchain</h6>
            <div class="card" data-bs-theme="dark" id="desc0">
                <div class="el3 w-100"></div>
                <div class="card-img-overlay">
                    <div class="el el2t">
                        <p class="card-text">
                            {{ lang=='it' ? 'Durante il master in blockchain development è stata richiesta la creazione di un caso studio su
                            soluzioni Blockchain al servizio di un prodotto digitale legato al mondo dei viaggi ecosostenibili'
                            : 
                            'During the blockchain development master\'s program, we were tasked with creating a case study to showcase blockchain solutions for a digitally-oriented product related to eco-friendly travel.' }}</p>
                        <p class="card-text">
                            {{ lang=='it' ? 'Si tratta di un\'analisi sulle categorie di DApp impiegabili per la realizzazione del
                            progetto in questione con focus sui Marketplace NFT.' 
                            :
                            'This involves an analysis of the categories of DApps applicable for the implementation of the project in question, with a particular focus on NFT marketplaces.' }}
                        </p>
                        <p class="card-text">
                            {{ lang=='it' ? 'Di seguito troverai anche un progetto relativo ad un\'asta di beneficenza svolta sulla blockchain, tramite uno smart contract.' 
                            : 
                            'Below, you will also find a project related to a charity auction conducted on the Blockchain using a smart contract.' }}
                        </p>
                        <a href="projects/2" class="card-link">{{ lang=='it' ? 'Buona lettura!' : 'Good reading!' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>