<div class="container-fluid">
        <div class="row  w-100">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-title">
                <h1 id="anchor-projects"><strong>Progetti</strong></h1>
            </div>
        </div>
        <!-- <div class="row new">
            <div class="image0"></div>
            <div class="middle text">
                <h2 class="card-title"><strong>IR Switch</strong></h2>
                    <h6 class="card-subtitle mb-4">Elettronica</h6>
                    <p class="card-text2">
                        L'IR Switch è uno dei progetti elettronici personali realizzati durante il periodo
                        universitario.
                    </p>
                    <p class="card-text2"> Si tratta di un modo creativo di vedere gli interruttori: in particolare l'interazione
                        con un IR Switch non avviene tramite il contatto fisico
                        (troppo facile) ma interrompendo fisicamente un raggio ad infrarossi.
                    </p>
                <a href="#" class="card-link">Vediamo come</a>
            </div>
        </div> -->
        <!-- <div class="card" data-bs-theme="dark">
            <div class="container">
                <div class="card-body">
                    <h2 class="card-title"><strong>IR Switch</strong></h2>
                    <h6 class="card-subtitle mb-4">Elettronica</h6>
                    <div class="row">
                        <div class="col-3 el1 w-20"></div>
                        <div class="col-9 el el1t">
                            <p class="card-text">
                                L'IR Switch è uno dei progetti elettronici personali realizzati durante <br> il periodo
                                universitario. </p>
                            <p> Si tratta di un modo creativo di vedere gli interruttori: in particolare l'interazione
                                <br> con un IR Switch non avviene tramite il contatto fisico
                                <br>(troppo facile) ma interrompendo fisicamente un raggio ad infrarossi.
                            </p>
                            <a href="#" class="card-link">Vediamo come</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row row-projects">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h2 class="card-title"><strong>IR Switch</strong></h2>
                <h6 class="card-subtitle mb-4">Elettronica</h6>
                <div class="card" data-bs-theme="dark" id="desc0">
                    <div class="el2 w-100"></div>
                    <div class="card-img-overlay">
                        <div class="el el2t">
                            <!-- <h2 class="card-title"><strong>IR Switch</strong></h2>
                            <h6 class="card-subtitle mb-4">Elettronica</h6> -->
                            <p class="card-text">
                                L'IR Switch è uno dei progetti elettronici personali realizzati durante il periodo
                                universitario. </p>
                            <p class="card-text"> Si tratta di un modo creativo di vedere gli interruttori: in particolare l'interazione
                                con un IR Switch non avviene tramite il contatto fisico
                                (troppo facile) ma interrompendo fisicamente un raggio ad infrarossi.
                            </p>
                            <a href="projects/0" class="card-link">Ci vediamo di là, geek!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h2 class="card-title"><strong>Prima DApp</strong></h2>
                <h6 class="card-subtitle mb-4">Sviluppo SW  -  Blockchain</h6>
                <div class="card" data-bs-theme="dark" id="desc0">
                    <div class="el4 w-100"></div>
                    <div class="card-img-overlay">
                        <div class="el el2t">
                            <!-- <h2 class="card-title"><strong>Prima DApp</strong></h2>
                            <h6 class="card-subtitle card-sub mb-4">Informatica  -  Blockchain</h6> -->
                            <p class="card-text">
                                Dopo essermi dedicato per qualche anno all'elettronica, ho intrapreso un percorso da
                                sviluppatore web app.<br>
                                Da qualche anno mi sono interessato alla tecnologia Blockchain e questo è la prima DApp
                                formativa che ho creato.</p>
                            <p class="card-text"> Si tratta di una DApp con interazioni verso portafogli Metamask creato al fine di
                                studiare i
                                protocolli ERC20 e ERC721:<br>
                                Oltre agli smart contract, all'interno troveremo tutta l'infrastruttura per il
                                collegamento degli stessi con un applicativo realizzato in Angular.
                            </p>
                            <a href="projects/1" class="card-link">Clicca qui per capirci di più</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h2 class="card-title"><strong>Caso studio</strong></h2>
                <h6 class="card-subtitle mb-4">Blockchain</h6>
                <div class="card" data-bs-theme="dark" id="desc0">
                    <div class="el3 w-100"></div>
                    <div class="card-img-overlay">
                        <div class="el el2t">
                            <!-- <h2 class="card-title"><strong>Caso studio: soluzioni blockchain per viaggi ecosostenibili</strong></h2>
                            <h6 class="card-subtitle card-sub mb-4">Blockchain</h6> -->
                            <p class="card-text">
                                Durante il master in blockchain development è stato richiesta la creazione un caso studio su protocolli blockchain 
                                utili al fine della creazione di un prodotto digitale legato al mondo dei viaggi ecosostenibili</p>
                            <p class="card-text">
                                Si tratta di un'analisi sulle categorie di DApp impiegabili per la realizzazione del progetto in questione 
                                con un punto di attenzione sui Marketplace NFT.
                            </p>
                            <a href="projects/2" class="card-link">Scorriamolo insieme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
<!-- ------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- <div class="card " data-bs-theme="dark" id="desc1">
            <div class="container">
                <div class="row right">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="el4 w-100"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 el el4t">
                        <div class="container cont4">
                            <h2 class="card-title card-tit"><strong>Prima DApp</strong></h2>
                            <h6 class="card-subtitle card-sub mb-4">Informatica  -  Blockchain</h6>
                            <p class="card-text card-t1">
                                Dopo essermi dedicato per qualche anno all'elettronica, ho intrapreso un percorso da
                                sviluppatore web app.<br>
                                Da qualche anno mi sono interessato alla tecnologia Blockchain e questo è la prima DApp
                                formativa che ho creato.</p>
                            <p class="card-text card-t2"> Si tratta di una DApp con interazioni verso portafogli Metamask creato al fine di
                                studiare i
                                protocolli ERC20 e ERC721:<br>
                                Oltre agli smart contract, all'interno troveramo tutta l'infrastruttura per il
                                collegamento degli stessi con un applicativo realizzato in Angular.
                            </p>
                            <a href="#" class="card-link">Clicca qui per capirci di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" data-bs-theme="dark" id="desc2">
            <div class="el3 w-100"></div>
            <div class="card-img-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-8 col-lg-7 el el3t">
                            <h2 class="card-title"><strong>Caso studio: soluzioni blockchain per viaggi ecosostenibili </strong></h2>
                            <h6 class="card-subtitle mb-4">Informatica  -  Blockchain</h6>
                            <p class="card-text">
                                Durante il master in blockchain development è stato necessario creare un caso studio per protocolli blockchain 
                                utili al fine della creazione di un prodotto digitale legato al mondo dei viaggi ecosostenibili</p>
                            <p> Si tratta di un'analisi sulle categorie di DApp impiegabili per la realizzazione del progetto in questione <br> 
                                con un punto di attenzione sui Marketplace NFT.
                            </p>
                            <a href="#" class="card-link">Scopri di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
</div>