<h2> Casi Studio: Start2Impact </h2>

<h5> 1) Asta di beneficenza </h5>
<p> Un'azienda nel settore lifestyle vuole organizzare un'asta di beneficenza tramite tecnologia Blockchain. <br>
<span> <a class="accent" href=""> QUI</a> puoi vedere la soluzione che ho proposto!</span>
</p>
<p> Il contratto è stato leggermente perfezionato rispetto a quello mostrato nella presentazione <br> 
    <span> Scarica <a class="accent" href=""> QUI</a> l'ultima versione dello Smart Contract</span>
</p>

<h5> 2) Agenzia viaggi </h5>
<p> Un'agenzia viaggi è interessata al mondo della blockchain e vorrebbe capire quali protocolli Ethereum può sfruttare per sviluppare 
    il businness di un viaggio ecosostenibile <br>
    <span> <a class="accent" href=""> QUI</a> puoi vedere la soluzione che ho proposto!</span>
</p>