<div class="container-fluid">
      <div class="row expform w-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-left">
            <h1> Formazione </h1>
            <hr>
            <div class="row">
                <div class="col-3">2014</div>
                <div class="col-9"><p>Diploma capotecnico elettronico e delle telecomunicazione</p></div>
            </div>
            <div class="row">
                <div class="col-3">2017</div>
                <div class="col-9"><p>Laurea triennale in ingegneria elettronica</p></div>
            </div>
            <div class="row hidden">
                <div class="col-3">0000-0000</div>
                <div class="col-9"><p>Pried eiusmod tempor incidunt ut labore et dolored eiusmod tempor incidunt ut labore et dolored eiusmod tempor incidunt ut labore et dolore magna aliqua</p></div>
            </div>
            <div class="row">
                <div class="col-3">2019</div>
                <div class="col-9"><p>Corso di formazione Java</p></div>
            </div>
            <div class="row">
                <div class="col-3">2021</div>
                <div class="col-9"><p>Corso di formazione Angular con RGI</p></div>
            </div>
            <div class="row last">
                <div class="col-3">2023 - in corso</div>
                <div class="col-9"><p>Master start2impact: Blockchain developer</p></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-right">
            <h1> Esperienza </h1>
            <hr>
            <div class="row hidden">
                <div class="col-3">0000-0000</div>
                <div class="col-9"><p> Primo ipsum dolor sit amet, consectetur adipisci elit sectetur adipisci elit sectetur adipisci elit</p></div>
            </div>
            <div class="row">
                <div class="col-3">2017-2019</div>
                <div class="col-9"><p> Next srl: durante il periodo di laurea ho iniziato a lavorare in un ambiente di produzione elettronica
                    Qui ho potuto esplorare i processi di produzione di un prodotto elettronico, dalla fornitura dei materiali al packaging del prodotto finito</p></div>
            </div>
            <div class="row">
                <div class="col-3">2019</div>
                <div class="col-9"><a href="#anchor-projects" class="orange"> Qui inizia la mia carriera informatica </a></div>
            </div>
            <div class="row">
                <div class="col-3">2019-2023</div>
                <div class="col-9"><p> Alfasoft - Cliente RGI: bla bla bla cose cose fighissime incredibili fuori dal comune</p></div>
            </div>
            <div class="row last">
                <div class="col-3">2023</div>
                <div class="col-9"><p> WCApes collaborazione temporanea per accellazione di una startup nel mondo della blockchain in ambito calcistico. </p></div>
            </div>
        </div>
      </div>
  </div>

