<div class="container-fluid">
      <div class="row expform w-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-left">
            <h1><strong>{{ lang=='it' ? 'Formazione' : 'Education' }}</strong></h1>
            <hr>
            <div class="row">
                <div class="col-3"><p>2014</p></div>
                <div class="col-9"><p>{{ lang=='it' ? 'Diploma capotecnico elettronico e delle telecomunicazioni' : 'Diploma in Electronic and Telecommunication Engineering' }}</p></div>
            </div>
            <div class="row">
                <div class="col-3"><p>2017</p></div>
                <div class="col-9"><p>{{ lang=='it' ? 'Laurea triennale in ingegneria elettronica' : 'Bachelor\'s Degree in Electronic Engineering' }}</p></div>
            </div>
            <div class="row hidden">
                <div class="col-3">0000-0000</div>
                <div class="col-9"><p>Pried eiusmod tempor incidunt ut labore et dolored eiusmod tempor incidunt ut labore et dolored eiusmod tempor incidunt ut labore et dolore magna aliqua Pried eiusmod tempor incidunt ut labore et dolored</p></div>
            </div>
            <div class="row">
                <div class="col-3"><p>2019</p></div>
                <div class="col-9"><p>{{ lang=='it' ? 'Corso di formazione Java' : 'Java Course' }} (600h)</p></div>
            </div>
            <div class="row">
                <div class="col-3"><p>2021</p></div>
                <div class="col-9"><p>{{ lang=='it' ? 'Corso di formazione Angular': 'Angular Course' }}</p></div>
            </div>
            <div class="row hidden">
                <div class="col-3">0000-0000</div>
                <div class="col-9"><p>Pried eiusmod tempor incidunt ut labore et dolored eiusmod tempor incidunt ut labore et dolored eiusmod </p></div>
            </div>
            <div class="row last">
                <div class="col-3"><p>2023 - {{ lang == 'it' ? 'in corso' : 'nowadays' }}</p></div>
                <div class="col-9"><p>Master in Blockchain Development<br>(Start2Impact University)</p></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-right">
            <h1><strong>{{ lang=='it' ? 'Esperienza': 'Experience'}}</strong> </h1>
            <hr>
            <div class="row hidden">
                <div class="col-3">0000-0000</div>
                <div class="col-9"><p> Primo ipsum dolor sit amet, consectetur adipisci elit sectetur adipisci elit sectetur adipisci elit</p></div>
            </div>
            <div class="row">
                <div class="col-3"><p>2017-2019</p></div>
                <div class="col-9">
                    <p> {{ lang== 'it' ? 
                    'Durante il periodo di laurea ho iniziato a lavorare in un ambiente di produzione elettronica. Qui ho potuto esplorare i processi di produzione di un prodotto, dalla progettazione del layout PCB al packaging.' :
                    'I started working in an electronic manufacturing environment during my last university months. Here, I had the chance to explore the entire life cycle of an electronic product, from the PCB layout design through the quality tests, to the product packaging.'
                    }}
                    </p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><p>2019</p></div>
                <div class="col-9">
                    <p>{{ lang == 'it' ? 'Dopo qualche anno in ambito elettronico, Ho deciso di intraprendere una carriera informatica.': 
                    'After a few years in electronics, I decide to pursue a career in computer science.' }} 
                    <a [routerLink]="['/about-me']" class="orange">
                        {{ lang=='it' ? 'Scopri perchè!' : 'Discorver why!' }}
                    </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3"><p>2019  - {{ lang == 'it' ? 'in corso' : 'nowadays' }}</p></div>
                <div class="col-9">
                    <p> {{ lang=='it' ? 
                        'Dal 2019 lavoro come full stack developer a tempo pieno per una software house in ambito assicurativo.
                        Mi occupo di manutere e far evolvere un applicativo web, realizzato in Angular con backend in Java, per la gestione di portafogli di polizze vita.' :
                        'Since 2019, I have been working as a full-time full-stack developer for an insurance-focused software house.
                        I am responsible for maintaining and enhancing a web application, built using Angular with a Java backend, for managing life insurance policy portfolios.' 
                        }}
                    </p>
                </div>
            </div>
            <div class="row last">
                <div class="col-3"><p>2023</p></div>
                <div class="col-9">
                    <p> {{ lang == 'it' ? 
                    'Ad inizio 2023, ho collaborato con una startup nel mondo Blockchain/NFT in ambito calcistico, con l\'obiettivo di accelerarne l\'evoluzione.
                    L\'applicativo web è realizzato in React con Material UI e i contratti Solidity sono stati gestiti con Hardhat per deploy e testing' :
                    'At the very beginning of 2023, I collaborate for accelerating a NFT-based startup within the football industry.
                    The web application is build in React with Material UI and Solidity contracts\'s deploy and testing were maneged through Hardhat.'
                    }}
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>

