$accent-color: #e59f14

// Small devices (tablets, 576px and up)
@media (min-width: 576px) 
    p
        font-size: 1.4rem
        padding-right: 2%

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
    p
        font-size: 1.2rem

// // Extra extra large devices (Extra large desktops, 1200px and up)
@media (min-width: 3440px)
    p
        font-size: 1.4rem


.container-fluid
    padding-top: 15%
    background-color: #000
    color: #ffffff
    border: 0.1px solid #000

// hr
//     color: $accent-color
    
.col-2, .col-3, .col-4, .orange
    color: $accent-color


.col-12
    margin-bottom: 10%

.col-right
    padding-right: 4%
    padding-left: 0%

.col-left
    padding-left: 4%
    padding-right: 0%

.expform
    font-size: 1.1rem
    justify-content: center

.right
    text-align: end


// large devices (large desktops, 992px and up)
@media (max-width: 992px) 
    .hidden
        display: none
    .col-right
        padding-left: 4%
        padding-right: 2%

.hidden
    opacity: 0
